.button{
    border-radius: 55px;
    background: transparent;
    width: 200px;
    padding: 1px 40px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: var(--button-color);
    border: 1.4px solid var(--button-color);
}

.button:hover {
    background-color: rgba(69, 143, 246, 0.4);
}