.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: end;
    flex-grow: 0.9;
    gap: 40px;
}


.navText {
    color: #fff;
}


.a:link {
    color: var(--primary-text-color);
    opacity: 0.5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.a:visited {
    color: var(--primary-text-color);
    text-decoration: none;
}

.active {
    color: white;
}

/*
this is a mess
*/

.active:link {
    text-decoration: none;
}

.active:visited {
    text-decoration: none;
}

.active:visited {
    color: var(--primary-text-color);
    text-decoration: none;

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.active:hover {
    color: var(--secondary-text-color);
}

.a:hover {
    color: var(--secondary-text-color);
}